@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --foundation--neutral-neutral-50: #f8f8f8;
  --foundation--neutral-neutral-100: #e8e8e8;
  --foundation--neutral-neutral-200: #ddd;
  --foundation--neutral-neutral-300: #cdcdcd;
  --foundation--neutral-neutral-400: #c4c4c4;
  --foundation--neutral-neutral-500: #b5b5b5;
  --foundation--neutral-neutral-600: #a5a5a5;
  --foundation--neutral-neutral-700: #818181;
  --foundation--neutral-neutral-800: #646464;
  --foundation--neutral-neutral-900: #4c4c4c;
}

body {
  background-color: var(--foundation--neutral-neutral-100);
}

header {
  width: 100%;
  height: 64px;
  box-shadow: 0 10px 56px 0 rgba(0, 0, 0, 0.09);
  background: var(--foundation--neutral-neutral-50);
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

nav>a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

main {
  width: 100%;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 50px 0px;
  width: 1100px;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  max-width: 610px;
}

.hero img {
  width: 610px;
  height: 350px;
  border-radius: 7px;
}

.hero h1 {
  font-weight: 700;
  font-size: 42px;
  color: #000;
}

.form {
  width: 480px;
  height: 350px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  border-radius: 7px;
  padding: 18px;
  box-shadow: 0 12px 50px 0 rgba(0, 0, 0, 0.13);
  background: var(--foundation--neutral-neutral-50);
}

.form h3 {
  font-weight: 600;
  font-size: 24px;
  color: #000;
  margin-bottom: 5px;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.short-input {
  border: 1px solid var(--foundation--neutral-neutral-300);
  border-radius: 7px;
  padding: 12px;
  width: 49%;
  height: 45px;
  background: var(--foundation--neutral-neutral-100);
  outline: none;
  font-weight: 500;
}

.large-input {
  border: 1px solid var(--foundation--neutral-neutral-300);
  border-radius: 7px;
  padding: 12px;
  width: 100%;
  height: 45px;
  background: var(--foundation--neutral-neutral-100);
  outline: none;
  font-weight: 500;
}

.text-submit {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-submit span {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.text-submit span>a {
  color: #3abdc6;
}

.text-submit>button {
  border-radius: 100px;
  padding: 12px;
  width: 190px;
  height: 40px;
  background: #000;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  color: var(--foundation--neutral-neutral-50);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.line {
  display: block;
  width: 1100px;
  height: 1px;
  background-color: var(--foundation--neutral-neutral-600);
  margin: 0 auto;
}

.articles-container {
  width: 100%;
  padding: 50px;
}

#articles {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  width: 1100px;
}

.article {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  border-radius: 7px;
  width: 263px;
  height: 350px;
  box-shadow: 0 4px 33px 0 rgba(0, 0, 0, 0.13);
  background: var(--foundation--neutral-neutral-50);
  overflow: hidden;
}

.article img {
  width: 263px;
  height: 150px;
}

.text {
  width: 100%;
  height: calc(350px - 150px);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 15px;
  gap: 12px;
}

.text h4 {
  font-weight: 600;
  font-size: 14px;
  color: #000;
}

.text span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--foundation--neutral-neutral-600);
  margin-top: auto;
}

.text h6 {
  font-weight: 400;
  font-size: 14px;
  color: var(--foundation--neutral-neutral-900);
}

.brand-container {
  width: 100%;
}

.brands {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  margin: 0 auto;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 18px;
  border-radius: 7px;
  padding: 10px;
  width: 1100px;
  height: 126px;
  box-shadow: 0 4px 33px 0 rgba(0, 0, 0, 0.13);
  background: var(--foundation--neutral-neutral-50);
}

.brand img {
  border-radius: 3px;
  width: 190px;
  height: 106px;
}

.brand span {
  display: flex;
  height: 100%;
  width: 1px;
  background-color: var(--foundation--neutral-neutral-600);
}

.brand-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
  height: 100%;
}

.brand h4 {
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.brand h6 {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.brand a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  background: #000;
  border-radius: 100px;
  padding: 8px;
  width: 180px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  color: var(--foundation--neutral-neutral-50);
  text-decoration: none;
}

